.contenedor-iconos,
.contenedor-iconosSec {
  display: flex;
  flex-direction: row;
  align-items: center;
  @extend .py-2;
  background-color: #eee;
  border-bottom: 1px solid #ddd;
  height: 3.125rem;
  justify-content: center;
}

.contenedor-iconosSec {
  justify-content: space-between;
  align-items: center;

  width: 100%;
  max-width: 1280px;
}
.tipo-visualizacion {
  display: flex;
  padding-left: 3rem;
  gap: 1.8rem;
}

.contenedor-iconos {
  position: sticky;
  z-index: 999;
  top: 72px;
}
