 .img-detail {
  border-radius: 15px;

  justify-content: center;
  align-items: center;
}

.detail-card {
  background-image: var(--fondo-pelicula);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
}

.title-detail {
  margin-left: 1.5rem;
  color: white;
  max-width: 900px;
}

.description-detail {
  margin-left: 1.5rem;
  color: white;
  font-size: x-large;
}

.detailCard-Conex {
  display: flex;
  flex-direction: row;
}

.cast-section,
.crew-section {
  display: flex;
  flex-direction: row;

  overflow-x: auto;
  overflow-y: hidden;

  margin-left: 7rem;

  width: 900px;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

.cast-section::-webkit-scrollbar,
.crew-section::-webkit-scrollbar {
  height: 1rem;
}

.cast-section::-webkit-scrollbar-track,
.crew-section::-webkit-scrollbar-track {
  background: #e0e0e0;
  border-radius: 1rem;
}

.cast-section::-webkit-scrollbar-thumb,
.crew-section::-webkit-scrollbar-thumb {
  background-color: #0077cc;
  border-radius: 1rem;
  border: 2px solid #e0e0e0;
}

.actor-card,
.crew-card {
  flex: 0 0 auto;
  width: auto;
  max-height: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  text-align: center;
  padding: 0.5rem;
  box-sizing: border-box;
  color: #e0e0e0;
}

.actor-img,
.crew-img {
  height: 100%;
  max-height: 160px;
  width: auto;
  object-fit: contain;
  border-radius: 3rem;
}

.castText,
.crewText {
  color: #e0e0e0;

  writing-mode: vertical-lr;
  text-orientation: upright;
}

.containerBarra {
  display: flex;
  background-color: #eee;
  border-bottom: 1px solid #ddd;
  margin-left: 0;
  height: 50px;
  position: fixed;
  top: 72px;
  left: 0;
  width: 100%;
  z-index: 1000;
}

.body-details {
  margin: 0;
}

.details-view {
  display: block;
  width: 100%;
  min-height: 100vh;
}

.hidden {
  display: none !important;
}

.barraBack {
  display: flex;
  margin-left: 6rem;
}
.icono_volver {
  display: flex;
  align-items: center;
  margin-left: 6rem;
}

.detail-CardOver {
  max-width: 900px;
}
