
.movie-details {
  color: white;
  background-color: black;
  background-size: cover;
  background-position: center;

  .movie-poster:hover {
    opacity: 100%;
    cursor: default;
  }

  .movie-backdrop-overlay {
    @extend .py-5;
    background-color: rgba(0, 0, 0, 0.7);
    filter: none;
  }

  .movie-title {
    font-size: 2.5rem;
  }

  .movie-overview {
    font-size: 1.3rem;

    &-title {
      font-size: 1.5rem;
      font-weight: 600;
    }
  }

  .movie-data {
    font-size: 1.2rem;
    font-weight: 600;
  }
}

#search-movie-input {
  border: none;
}
